[submodule "presentation/src/main/cpp/third_party/libvpx"]
	path = presentation/src/main/cpp/third_party/libvpx
	url = https://github.com/webmproject/libvpx.git
[submodule "presentation/src/main/cpp/third_party/rlottie"]
	path = presentation/src/main/cpp/third_party/rlottie
	url = https://github.com/monogram-android/rlottie
