[submodule "tellers-tl"]
	path = vendor/tellers-tl
	url = https://github.com/gdlbo/tellers-tl.git
[submodule "telers-mtproto-impl"]
	path = vendor/telers-mtproto-impl
	url = https://github.com/gdlbo/telers-mtproto-impl
[submodule "tlottie"]
	path = vendor/tlottie
	url = https://github.com/dkaraush/tlottie.git
